html, body {
    margin:0;
    padding:0;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix { display: inline-block; }
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }


  /* -------------TOPBAR--------------*/
  .topbar {
      width:100%;
      height:20px;
      background-color:#808001;
      border-top:3px solid #000;
      border-left:3px solid #000;
      border-right:3px solid #000;
  }

  .container {
      background-color:#018001;
      height:100vh;
      width:100%;
      position: relative;
      border:3px solid #000;
      padding-top:1%;
  }

  .col1, .col2, .col3 {
      width:33.3%;
      float:left;
  }

  /* -------------COL1------------- */
  .box {
      width:60px;
      height: 60px;
      background-color:#FF0101;
      margin-left:30px;
      transform:rotate(45deg);
      border:3px solid #000;
  }

  .box:nth-child(1) {
      margin-left:99px;
  }
  
  .col1 {
      padding-top:1rem;
  }

  /* -------------COL2----------- */
  .col2 {
      display:flex;
      justify-content: center;
      text-align: center;
  }

  .equal {
      width:50px;
      height: 50px;
      display: flex;
      align-items: center;
  }

  .line {
      display: block;
      border:3px solid #0101FF;
      width:35px;
  }

  .line:nth-child(2) {
      margin-top:5px;
  }


  .circle span {
      border:3px solid #000;
      display:inline-block;
      width:50px;
      height: 50px;
      border-radius: 50%;
      background-color:#018080;
  }

  /* -------------COL3-------------- */
  .rectangle {
      text-align: center;
      width:250px;
      min-height: 350px;
      height: 50vh;
      text-transform: uppercase;
      background-color:#FFF;
      margin:0 auto;
      padding-top:20px;
      transition:background-color 1s ease-out;
      animation: scaleAnimation 3s infinite alternate;
  }


  /* --------------RWD---------------- */
  @media only screen and (min-width:583px) and (max-width:900px) {
      .col1, .col2 {
          float:none;
          display:block;
          width:100%;
      }

      .col2 {
          margin-top:50px;
          display: flex;
          justify-content: flex-start;
          margin-left:30px;
      }

      .col3 {
          float:left;
      }

      .col50 {
          float:left;
          width:50%;
      }

      .rectangle {
          background-color:#C83838;
      }
  }

  @media only screen and (max-width:583px) {
      .col50 {
          width:100%;
          float:none;
      }

      .col1, .col2, .col3 {
          float:none;
          display:block;
          width:100%;
      }

      .col2, .col3 {
          margin-top:50px;
      }

      .col2 {
          display:flex;
          justify-content: flex-start;
          margin-left:30px;
      }

      .container {
          height:auto;
      }

      .rectangle {
          background-color:#0101FF;
      }
  }

  @media only screen and (max-width:250px) {
      .rectangle {
          width:100%;
      }
  }


  @keyframes scaleAnimation {
      from { transform: scale(0.8); }
      to { transform: scale(1); }
  }